{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">About Us</h2>
        <p class="lead text-center">
            Welcome to our Fashion Store! We are passionate about providing the best care for products. Our store offers a wide variety of products, product supplies, and accessories, tailored to meet the needs of both products and their owners.
        </p>
        
        <h3 class="mt-4">Our Mission</h3>
        <p>
            Our mission is to provide high-quality products and products to ensure that your product lives a long and healthy life. We aim to create a welcoming and educational environment for product owners, offering expert advice and guidance on product care.
        </p>
        
        <h3 class="mt-4">Why Choose Us?</h3>
        <ul>
            <li>High-quality products and accessories</li>
            <li>Expert advice and product care services</li>
            <li>Committed to products welfare</li>
        </ul>
        <h3 class="mt-4">Our Location</h3>
        <p>
            Visit us at our store, conveniently located in the heart of the city. We are open seven days a week and are always ready to help you find the perfect product.
        </p>
    </div>
{% endblock %}